.users {
    max-width: 100%;
    padding: 0 15px 0 0;

    @media (max-width: 767.98px) {
        width: 100%;
    }
}

.filters {
    flex: 0 0 20%;
}

.usersFlex {
    display: flex;
    max-width: 100%;
    color: #fff
}

.selected {
    font-weight: 700;
}

.links {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;

    a {
        color: #fff;
        text-decoration: none;
        
        &:not(:first-child) {
            padding: 0 0 0 10px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        color: #fff;
        padding: 0 0 0 10px;
        cursor: pointer;
    }
}