.wrapper {
    display: flex;
    justify-content: space-between;
    color: #c9c9c9;
    padding: 10px 0;

    @media (max-width: 767.98px) {
        justify-content: flex-start;
    }
}

.imageWrapper {
    flex: 0 0 20%;

    @media (max-width: 767.98px) {
        flex: 0 0 100px;
        max-width: 100px;
    }
}

.userPicture {
    border-radius: 50%;
    margin: 0 15px 0 0;
    object-fit: cover;
    object-position: right;
}

.userInformation {
    display: flex;
    justify-content: space-between;
    flex: 0 0 80%;

    @media (max-width: 767.98px) {
        flex-direction: column;
        flex: 0 0 calc(100% - 120px)
    }
}

.userName {
    font-size: 25px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
    height: 100px;

    img {
        height: 100%;
        object-fit: cover;
    }
}

.personalInfo {
    flex: 0 1 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts {
    display: none;

    @media (min-width: 767.98px) {
        padding-left: 10px;
        flex: 1 0 49%;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }
}

.btn {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    padding: 5px 7px;
    margin-top: 10px;
    max-width: 100px;

    @media (min-width: 767.98px) {
        display: none;
    }
}

.modalWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
    visibility: visible;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modalTitle {
    color: #c9c9c9;
    font-size: 25px;
    margin-bottom: 15px;
}

.inputField {
    padding: 5px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    width: 80%;

    &::placeholder {
        color: #c9c9c9;
        font-size: 15px;
        text-align: center;
    }
}

.modalButton {
    background: transparent;
    border: none;
    color: #c9c9c9;
    flex: 0 0 auto;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 5px;
}