.mainContent {
    display: flex;
    color: #cdcdcd;
    transition: all .3s ease;

    &:hover {
        background: #383838
    }

    &:not(:first-child) {
        margin-top: 15px;
    }
}

.user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 100px;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

    a {
        height: 100%;
    }
}

.userWrapper {
    height: 95%;
    padding: 0 15px 0 0;
    flex: 0 0 auto;
}

.userImage {
    height: 100%;
    border-radius: 50%;
}

.name {
    font-size: 22px;
}   

.userInfo {
    flex: 1 1 auto;
}

.serverInfo {
    flex: 0 0 auto;
}

.addFriend {
    background: transparent;
    border: none;
    color: inherit;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 700;

    &:hover {
        color: #fff;
        letter-spacing: 1;
    }

    @media (max-width: 767.98px) {
        display: none;
    }
}

.addFriendSmallSize {
    background: transparent;
    border: none;
    color: inherit;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease;
    font-weight: 700;
    
    @media (min-width: 767.98px) {
        display: none;
    }
}